html, body {
  padding: 0;
  margin: 0;
  font-family: 'Ruda', sans-serif;
  background: #f7f7f7;
  -ms-touch-action: none;
      touch-action: none; }

main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@-webkit-keyframes spawnAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes spawnAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
.userInterface {
  height: 100px;
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.score-scope {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .score-scope .socreval {
    margin-left: 15px;
    font-size: 20px;
    color: #000;
    border-radius: 7px;
    -webkit-animation-name: spawnAnimationScoreval;
            animation-name: spawnAnimationScoreval;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(0.06, 1.07, 0.17, 1.12);
            animation-timing-function: cubic-bezier(0.06, 1.07, 0.17, 1.12);
    opacity: 0; }
@-webkit-keyframes spawnAnimationScoreval {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes spawnAnimationScoreval {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  100% {
    opacity: 0; } }
  .score-scope span#score {
    font-size: 30px; }

.button {
  padding: 10px 15px;
  background-color: #5ebcbc;
  color: #FFFFFF;
  border-radius: 7px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.06, 1.07, 0.17, 1.12);
          transition-timing-function: cubic-bezier(0.06, 1.07, 0.17, 1.12);
  font-size: 19px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .button:active {
    border-bottom: 0px solid rgba(138, 138, 138, 0.7); }

.wiggle {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.06, 1.07, 0.17, 1.12);
          animation-timing-function: cubic-bezier(0.06, 1.07, 0.17, 1.12);
  background: red;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  15% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px); }
  30% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px); }
  45% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px); }
  75% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes wiggle {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  15% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px); }
  30% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px); }
  45% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px); }
  75% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
.ui-overlay {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, rgba(2, 0, 36, 0.45) 0%, rgba(94, 188, 188, 0.7) 100%);
  position: fixed;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .ui-overlay .popup {
    border-radius: 15px;
    width: 480px;
    height: 240px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .ui-overlay .popup #game-over-text {
      font-size: 40px; }
    .ui-overlay .popup #score-text {
      font-size: 25px;
      color: #505050; }
    .ui-overlay .popup #reset-btn-overlay {
      margin-top: 25px; }

#gameFrame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #gameFrame .overlay {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #gameFrame .row .cube {
    margin-right: 8px;
    margin-bottom: 8px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFFFFF;
    font-size: 40px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.06, 1.07, 0.17, 1.12);
            transition-timing-function: cubic-bezier(0.06, 1.07, 0.17, 1.12);
    -webkit-animation-name: spawnAnimation;
            animation-name: spawnAnimation;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: cubic-bezier(0.06, 1.07, 0.17, 1.12);
            animation-timing-function: cubic-bezier(0.06, 1.07, 0.17, 1.12); }
    #gameFrame .row .cube.remove {
      -webkit-transform: scale(0);
              transform: scale(0); }
    #gameFrame .row .cube.absolute {
      position: absolute; }
      #gameFrame .row .cube.absolute.p00 {
        top: 0px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-0-0 {
        top: 0px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-0-1 {
        top: 0px;
        left: 128px; }
      #gameFrame .row .cube.absolute.p-0-2 {
        top: 0px;
        left: 256px; }
      #gameFrame .row .cube.absolute.p-0-3 {
        top: 0px;
        left: 384px; }
      #gameFrame .row .cube.absolute.p-0-4 {
        top: 0px;
        left: 512px; }
      #gameFrame .row .cube.absolute.p-0-5 {
        top: 0px;
        left: 640px; }
      #gameFrame .row .cube.absolute.p-0-6 {
        top: 0px;
        left: 768px; }
      #gameFrame .row .cube.absolute.p-0-7 {
        top: 0px;
        left: 896px; }
      #gameFrame .row .cube.absolute.p-0-8 {
        top: 0px;
        left: 1024px; }
      #gameFrame .row .cube.absolute.p-1-0 {
        top: 128px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-1-1 {
        top: 128px;
        left: 128px; }
      #gameFrame .row .cube.absolute.p-1-2 {
        top: 128px;
        left: 256px; }
      #gameFrame .row .cube.absolute.p-1-3 {
        top: 128px;
        left: 384px; }
      #gameFrame .row .cube.absolute.p-1-4 {
        top: 128px;
        left: 512px; }
      #gameFrame .row .cube.absolute.p-1-5 {
        top: 128px;
        left: 640px; }
      #gameFrame .row .cube.absolute.p-1-6 {
        top: 128px;
        left: 768px; }
      #gameFrame .row .cube.absolute.p-1-7 {
        top: 128px;
        left: 896px; }
      #gameFrame .row .cube.absolute.p-1-8 {
        top: 128px;
        left: 1024px; }
      #gameFrame .row .cube.absolute.p-2-0 {
        top: 256px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-2-1 {
        top: 256px;
        left: 128px; }
      #gameFrame .row .cube.absolute.p-2-2 {
        top: 256px;
        left: 256px; }
      #gameFrame .row .cube.absolute.p-2-3 {
        top: 256px;
        left: 384px; }
      #gameFrame .row .cube.absolute.p-2-4 {
        top: 256px;
        left: 512px; }
      #gameFrame .row .cube.absolute.p-2-5 {
        top: 256px;
        left: 640px; }
      #gameFrame .row .cube.absolute.p-2-6 {
        top: 256px;
        left: 768px; }
      #gameFrame .row .cube.absolute.p-2-7 {
        top: 256px;
        left: 896px; }
      #gameFrame .row .cube.absolute.p-2-8 {
        top: 256px;
        left: 1024px; }
      #gameFrame .row .cube.absolute.p-3-0 {
        top: 384px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-3-1 {
        top: 384px;
        left: 128px; }
      #gameFrame .row .cube.absolute.p-3-2 {
        top: 384px;
        left: 256px; }
      #gameFrame .row .cube.absolute.p-3-3 {
        top: 384px;
        left: 384px; }
      #gameFrame .row .cube.absolute.p-3-4 {
        top: 384px;
        left: 512px; }
      #gameFrame .row .cube.absolute.p-3-5 {
        top: 384px;
        left: 640px; }
      #gameFrame .row .cube.absolute.p-3-6 {
        top: 384px;
        left: 768px; }
      #gameFrame .row .cube.absolute.p-3-7 {
        top: 384px;
        left: 896px; }
      #gameFrame .row .cube.absolute.p-3-8 {
        top: 384px;
        left: 1024px; }
      #gameFrame .row .cube.absolute.p-4-0 {
        top: 512px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-4-1 {
        top: 512px;
        left: 128px; }
      #gameFrame .row .cube.absolute.p-4-2 {
        top: 512px;
        left: 256px; }
      #gameFrame .row .cube.absolute.p-4-3 {
        top: 512px;
        left: 384px; }
      #gameFrame .row .cube.absolute.p-4-4 {
        top: 512px;
        left: 512px; }
      #gameFrame .row .cube.absolute.p-4-5 {
        top: 512px;
        left: 640px; }
      #gameFrame .row .cube.absolute.p-4-6 {
        top: 512px;
        left: 768px; }
      #gameFrame .row .cube.absolute.p-4-7 {
        top: 512px;
        left: 896px; }
      #gameFrame .row .cube.absolute.p-4-8 {
        top: 512px;
        left: 1024px; }
      #gameFrame .row .cube.absolute.p-5-0 {
        top: 640px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-5-1 {
        top: 640px;
        left: 128px; }
      #gameFrame .row .cube.absolute.p-5-2 {
        top: 640px;
        left: 256px; }
      #gameFrame .row .cube.absolute.p-5-3 {
        top: 640px;
        left: 384px; }
      #gameFrame .row .cube.absolute.p-5-4 {
        top: 640px;
        left: 512px; }
      #gameFrame .row .cube.absolute.p-5-5 {
        top: 640px;
        left: 640px; }
      #gameFrame .row .cube.absolute.p-5-6 {
        top: 640px;
        left: 768px; }
      #gameFrame .row .cube.absolute.p-5-7 {
        top: 640px;
        left: 896px; }
      #gameFrame .row .cube.absolute.p-5-8 {
        top: 640px;
        left: 1024px; }
      #gameFrame .row .cube.absolute.p-6-0 {
        top: 768px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-6-1 {
        top: 768px;
        left: 128px; }
      #gameFrame .row .cube.absolute.p-6-2 {
        top: 768px;
        left: 256px; }
      #gameFrame .row .cube.absolute.p-6-3 {
        top: 768px;
        left: 384px; }
      #gameFrame .row .cube.absolute.p-6-4 {
        top: 768px;
        left: 512px; }
      #gameFrame .row .cube.absolute.p-6-5 {
        top: 768px;
        left: 640px; }
      #gameFrame .row .cube.absolute.p-6-6 {
        top: 768px;
        left: 768px; }
      #gameFrame .row .cube.absolute.p-6-7 {
        top: 768px;
        left: 896px; }
      #gameFrame .row .cube.absolute.p-6-8 {
        top: 768px;
        left: 1024px; }
      #gameFrame .row .cube.absolute.p-7-0 {
        top: 896px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-7-1 {
        top: 896px;
        left: 128px; }
      #gameFrame .row .cube.absolute.p-7-2 {
        top: 896px;
        left: 256px; }
      #gameFrame .row .cube.absolute.p-7-3 {
        top: 896px;
        left: 384px; }
      #gameFrame .row .cube.absolute.p-7-4 {
        top: 896px;
        left: 512px; }
      #gameFrame .row .cube.absolute.p-7-5 {
        top: 896px;
        left: 640px; }
      #gameFrame .row .cube.absolute.p-7-6 {
        top: 896px;
        left: 768px; }
      #gameFrame .row .cube.absolute.p-7-7 {
        top: 896px;
        left: 896px; }
      #gameFrame .row .cube.absolute.p-7-8 {
        top: 896px;
        left: 1024px; }
      #gameFrame .row .cube.absolute.p-8-0 {
        top: 1024px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-8-1 {
        top: 1024px;
        left: 128px; }
      #gameFrame .row .cube.absolute.p-8-2 {
        top: 1024px;
        left: 256px; }
      #gameFrame .row .cube.absolute.p-8-3 {
        top: 1024px;
        left: 384px; }
      #gameFrame .row .cube.absolute.p-8-4 {
        top: 1024px;
        left: 512px; }
      #gameFrame .row .cube.absolute.p-8-5 {
        top: 1024px;
        left: 640px; }
      #gameFrame .row .cube.absolute.p-8-6 {
        top: 1024px;
        left: 768px; }
      #gameFrame .row .cube.absolute.p-8-7 {
        top: 1024px;
        left: 896px; }
      #gameFrame .row .cube.absolute.p-8-8 {
        top: 1024px;
        left: 1024px; }
    #gameFrame .row .cube.background {
      background: #E1EFEF; }

@media screen and (max-height: 632px) {
  .userInterface {
    height: 100px;
    width: 266.6666666667px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  #gameFrame .row .cube {
    margin-right: 8px;
    margin-bottom: 8px;
    width: 66.6666666667px;
    height: 66.6666666667px; }
    #gameFrame .row .cube.absolute {
      position: absolute; }
      #gameFrame .row .cube.absolute.p00 {
        top: 0px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-0-0 {
        top: 0px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-0-1 {
        top: 0px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-0-2 {
        top: 0px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-0-3 {
        top: 0px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-0-4 {
        top: 0px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-0-5 {
        top: 0px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-0-6 {
        top: 0px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-0-7 {
        top: 0px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-0-8 {
        top: 0px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-1-0 {
        top: 74.6666666667px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-1-1 {
        top: 74.6666666667px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-1-2 {
        top: 74.6666666667px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-1-3 {
        top: 74.6666666667px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-1-4 {
        top: 74.6666666667px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-1-5 {
        top: 74.6666666667px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-1-6 {
        top: 74.6666666667px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-1-7 {
        top: 74.6666666667px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-1-8 {
        top: 74.6666666667px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-2-0 {
        top: 149.3333333333px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-2-1 {
        top: 149.3333333333px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-2-2 {
        top: 149.3333333333px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-2-3 {
        top: 149.3333333333px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-2-4 {
        top: 149.3333333333px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-2-5 {
        top: 149.3333333333px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-2-6 {
        top: 149.3333333333px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-2-7 {
        top: 149.3333333333px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-2-8 {
        top: 149.3333333333px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-3-0 {
        top: 224px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-3-1 {
        top: 224px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-3-2 {
        top: 224px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-3-3 {
        top: 224px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-3-4 {
        top: 224px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-3-5 {
        top: 224px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-3-6 {
        top: 224px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-3-7 {
        top: 224px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-3-8 {
        top: 224px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-4-0 {
        top: 298.6666666667px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-4-1 {
        top: 298.6666666667px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-4-2 {
        top: 298.6666666667px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-4-3 {
        top: 298.6666666667px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-4-4 {
        top: 298.6666666667px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-4-5 {
        top: 298.6666666667px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-4-6 {
        top: 298.6666666667px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-4-7 {
        top: 298.6666666667px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-4-8 {
        top: 298.6666666667px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-5-0 {
        top: 373.3333333333px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-5-1 {
        top: 373.3333333333px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-5-2 {
        top: 373.3333333333px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-5-3 {
        top: 373.3333333333px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-5-4 {
        top: 373.3333333333px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-5-5 {
        top: 373.3333333333px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-5-6 {
        top: 373.3333333333px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-5-7 {
        top: 373.3333333333px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-5-8 {
        top: 373.3333333333px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-6-0 {
        top: 448px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-6-1 {
        top: 448px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-6-2 {
        top: 448px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-6-3 {
        top: 448px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-6-4 {
        top: 448px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-6-5 {
        top: 448px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-6-6 {
        top: 448px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-6-7 {
        top: 448px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-6-8 {
        top: 448px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-7-0 {
        top: 522.6666666667px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-7-1 {
        top: 522.6666666667px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-7-2 {
        top: 522.6666666667px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-7-3 {
        top: 522.6666666667px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-7-4 {
        top: 522.6666666667px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-7-5 {
        top: 522.6666666667px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-7-6 {
        top: 522.6666666667px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-7-7 {
        top: 522.6666666667px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-7-8 {
        top: 522.6666666667px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-8-0 {
        top: 597.3333333333px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-8-1 {
        top: 597.3333333333px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-8-2 {
        top: 597.3333333333px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-8-3 {
        top: 597.3333333333px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-8-4 {
        top: 597.3333333333px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-8-5 {
        top: 597.3333333333px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-8-6 {
        top: 597.3333333333px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-8-7 {
        top: 597.3333333333px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-8-8 {
        top: 597.3333333333px;
        left: 597.3333333333px; } }
@media screen and (max-width: 552px) {
  .userInterface {
    height: 100px;
    width: 266.6666666667px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  #gameFrame .row .cube {
    margin-right: 8px;
    margin-bottom: 8px;
    width: 66.6666666667px;
    height: 66.6666666667px;
    font-size: 22.2222222222px; }
    #gameFrame .row .cube.absolute {
      position: absolute; }
      #gameFrame .row .cube.absolute.p00 {
        top: 0px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-0-0 {
        top: 0px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-0-1 {
        top: 0px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-0-2 {
        top: 0px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-0-3 {
        top: 0px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-0-4 {
        top: 0px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-0-5 {
        top: 0px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-0-6 {
        top: 0px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-0-7 {
        top: 0px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-0-8 {
        top: 0px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-1-0 {
        top: 74.6666666667px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-1-1 {
        top: 74.6666666667px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-1-2 {
        top: 74.6666666667px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-1-3 {
        top: 74.6666666667px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-1-4 {
        top: 74.6666666667px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-1-5 {
        top: 74.6666666667px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-1-6 {
        top: 74.6666666667px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-1-7 {
        top: 74.6666666667px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-1-8 {
        top: 74.6666666667px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-2-0 {
        top: 149.3333333333px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-2-1 {
        top: 149.3333333333px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-2-2 {
        top: 149.3333333333px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-2-3 {
        top: 149.3333333333px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-2-4 {
        top: 149.3333333333px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-2-5 {
        top: 149.3333333333px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-2-6 {
        top: 149.3333333333px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-2-7 {
        top: 149.3333333333px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-2-8 {
        top: 149.3333333333px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-3-0 {
        top: 224px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-3-1 {
        top: 224px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-3-2 {
        top: 224px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-3-3 {
        top: 224px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-3-4 {
        top: 224px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-3-5 {
        top: 224px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-3-6 {
        top: 224px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-3-7 {
        top: 224px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-3-8 {
        top: 224px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-4-0 {
        top: 298.6666666667px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-4-1 {
        top: 298.6666666667px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-4-2 {
        top: 298.6666666667px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-4-3 {
        top: 298.6666666667px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-4-4 {
        top: 298.6666666667px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-4-5 {
        top: 298.6666666667px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-4-6 {
        top: 298.6666666667px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-4-7 {
        top: 298.6666666667px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-4-8 {
        top: 298.6666666667px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-5-0 {
        top: 373.3333333333px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-5-1 {
        top: 373.3333333333px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-5-2 {
        top: 373.3333333333px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-5-3 {
        top: 373.3333333333px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-5-4 {
        top: 373.3333333333px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-5-5 {
        top: 373.3333333333px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-5-6 {
        top: 373.3333333333px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-5-7 {
        top: 373.3333333333px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-5-8 {
        top: 373.3333333333px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-6-0 {
        top: 448px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-6-1 {
        top: 448px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-6-2 {
        top: 448px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-6-3 {
        top: 448px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-6-4 {
        top: 448px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-6-5 {
        top: 448px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-6-6 {
        top: 448px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-6-7 {
        top: 448px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-6-8 {
        top: 448px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-7-0 {
        top: 522.6666666667px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-7-1 {
        top: 522.6666666667px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-7-2 {
        top: 522.6666666667px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-7-3 {
        top: 522.6666666667px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-7-4 {
        top: 522.6666666667px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-7-5 {
        top: 522.6666666667px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-7-6 {
        top: 522.6666666667px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-7-7 {
        top: 522.6666666667px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-7-8 {
        top: 522.6666666667px;
        left: 597.3333333333px; }
      #gameFrame .row .cube.absolute.p-8-0 {
        top: 597.3333333333px;
        left: 0px; }
      #gameFrame .row .cube.absolute.p-8-1 {
        top: 597.3333333333px;
        left: 74.6666666667px; }
      #gameFrame .row .cube.absolute.p-8-2 {
        top: 597.3333333333px;
        left: 149.3333333333px; }
      #gameFrame .row .cube.absolute.p-8-3 {
        top: 597.3333333333px;
        left: 224px; }
      #gameFrame .row .cube.absolute.p-8-4 {
        top: 597.3333333333px;
        left: 298.6666666667px; }
      #gameFrame .row .cube.absolute.p-8-5 {
        top: 597.3333333333px;
        left: 373.3333333333px; }
      #gameFrame .row .cube.absolute.p-8-6 {
        top: 597.3333333333px;
        left: 448px; }
      #gameFrame .row .cube.absolute.p-8-7 {
        top: 597.3333333333px;
        left: 522.6666666667px; }
      #gameFrame .row .cube.absolute.p-8-8 {
        top: 597.3333333333px;
        left: 597.3333333333px; } }

/*# sourceMappingURL=style.css.map */