$block-size : 120px;
$grid-gap : 8px;
$grid-size : 4;

html, body{
  padding: 0;
  margin: 0;
  font-family: 'Ruda', sans-serif;
  background: #f7f7f7;
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes spawnAnimation {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

.userInterface{
    height: 100px;
    width: $block-size * $grid-size;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span#score{
  font-size: 30px;
}

.button{
  padding: 10px 15px;
  background-color: rgb(120, 210, 210);
  border-radius: 7px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.25);
  transition: .3s;
  transition-timing-function: cubic-bezier(.06,1.07,.17,1.12);
  font-size: 19px;
  color: #000000;
  cursor: pointer;
  &:active{
    border-bottom: 0px solid rgba(138, 138, 138, 0.7);
  }
}

#gameFrame{
  display: flex;

  .overlay{
    position: absolute;
    display: flex;
  }

  .row{
    .cube{
      margin-right: $grid-gap;
      margin-bottom: $grid-gap;
      width: $block-size;
      height: $block-size;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      font-size: 30px;
      transition: .4s;
      transition-timing-function: cubic-bezier(.06,1.07,.17,1.12);
      animation-name: spawnAnimation;
      animation-duration: .4s;
      animation-timing-function: cubic-bezier(.06,1.07,.17,1.12);

      &.absolute{
        position: absolute;

        &.p00{
          top: 0px;
          left: 0px;
        }


        @for $i from 0 through 8 {
          @for $j from 0 through 8 {
            &.p-#{$i}-#{$j} {
              top: ($block-size+$grid-gap) * $i;
              left: ($block-size+$grid-gap) * $j;
            }
          }
        }
      }

      &.background{
        background: #E1EFEF;
      }

    }


  }

}
